.page {
   --background: #fafafa;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: var(--font-geist-sans);
   background-color: var(--background);

   padding: 0 20px;
}

.main {
   text-align: center;
   height: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   color: #0b0f14;
}

.cta {
   width: 270px;
   padding: 10px 20px;
   background: #fafafa;
   color: #0b0f14;
   border-radius: 40px;
   border: 2px solid #0b0f14;
   cursor: pointer;
   font-weight: bold;

   &:hover {
      background: #141a22;
      color: #fafafa;
      transition: 0.7s;
   }
}
