.page {
   --background: #fafafa;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: var(--font-geist-sans);
   background-color: var(--background);

   padding: 0 20px;
}

.main {
   text-align: center;
   height: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   color: #0b0f14;
}

.cta {
   width: 250px;
   padding: 20px;
   background: #0b0f14;
   color: #fafafa;
   border: none;
   border-radius: 40px;
   cursor: pointer;

   &:hover {
      background: #141a22;
   }
}
